<div class="container text-center">
    <h2>Which one will you choose?</h2>
    <div class="row mb-20">
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Beaches.jpg">
                <div class="titlename">
                    beach 
                </div>
            </a>

        </div>
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Beaches.jpg">
                <div class="titlename">
                    mountains
                </div>
            </a>
        </div>
    </div>
    <button class="btn btn-primary">Skip Question</button>
</div>