<div class="container text-center">
    <h2>What kind of hair do you like?</h2>
    <div class="row mb-20">
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Short-hair.jpg">
                <div class="titlename">
                    short hair
                </div>
            </a>
        </div>
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Long-hair.jpg">
                <div class="titlename">
                    long hair
                </div>
            </a>
        </div>
    </div>
    <button class="btn btn-primary">Skip Question</button>
</div>