<div class="container text-center">
    <h2>What do you prefer?</h2>
    <div class="row mb-20">
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/tea.jpg">
                <div class="titlename">
                    Tea
                </div>
            </a>

        </div>
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Coffee.jpg">
                <div class="titlename">
                    Coffee
                </div>
            </a>
        </div>
    </div>
    <button class="btn btn-primary">Skip Question</button>
</div>