<div class="container text-center">
    <h2>What is more important to you?</h2>
    <div class="row mb-20">
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Love.jpg">
                <div class="titlename">
                    love 
                </div>
            </a>

        </div>
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Money.jpg">
                <div class="titlename">
                    money
                </div>
            </a>
        </div>
    </div>
    <button class="btn btn-primary">Skip Question</button>
</div>