<div class="container text-center">
    <h2>What do you prefer: credit card or cash?</h2>
    <div class="row mb-20">
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Credit-card.jpg">
                <div class="titlename">
                    credit card
                </div>
            </a>

        </div>
        <div class="col-6">
            <a routerLink="" class="wrap-div card">
                <img src="../../../assets/creater/Cash.jpg">
                <div class="titlename">
                    cash
                </div>
            </a>
        </div>
    </div>
    <button class="btn btn-primary">Skip Question</button>
</div>